.deliverySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px 0;
}
.shippingIcon {
    font-size: 200px;
    color: lightgrey;
}
.deliveryButton {
    border: none;
    padding: 10px 20px;
    border-radius: var(--radius1);
    font-weight: 500;
    font-size: 15px;
    /* color: var(--night); */
    color: whitesmoke;
    background: var(--darkcyan);
    cursor: pointer;
}