.aboutHero {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 200px 20px 100px 20px;
}
.aboutHero >  h1 {
    font-size: 80px;
    margin-bottom: 40px;
}
.aboutHero > p {
    max-width: 1000px;
}
