.aboutMain {
    padding: 200px 20px 100px 20px;
}
.aboutHero {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 20px 40px 20px;
    display: flex;
    justify-content: space-between;
}
.aboutHero h1 {
    font-size: 80px;
    margin-bottom: 40px;
    color: var(--darkcyan);
}
.aboutHero p {
    max-width: 1000px;
    color: var(--night);
    font-size: 15px;
}
.aboutHero > div:nth-child(1) {
    width: 100%;
    max-width: 600px;
}
.aboutHero > div:nth-child(2) {
    width: 100%;
    max-width: 700px;
    height: 500px;
    border-radius: var(--radius2);
    overflow: hidden;
}
.aboutSection {
    width: 100%;
    max-width: var(--max-width);
    height: 320px;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    border-radius: 8px;
}
.aboutSection:nth-of-type(2) {
    background: var(--ghostwhite);
}
.aboutSection:nth-of-type(2) > h2 {
    color: var(--night);
}
.aboutSection:nth-of-type(3) {
    background: var(--darkcyan);
}
.aboutSection:nth-of-type(3) > h2 {
    color: var(--white);
}
.aboutSection:nth-of-type(3) > p {
    color: var(--white);
}
.aboutSection:nth-of-type(4) {
    background: var(--theme-blue);
}
.aboutSection:nth-of-type(4) > h2 {
    color: var(--white);
}
.aboutSection:nth-of-type(4) > ul {
    color: var(--greywhite);
}
.aboutSection:nth-of-type(4) > ul strong{
    font-weight: 500;
    color: var(--darkcyan);
}
.aboutSection:nth-of-type(5) {
    background: var(--night);
}
.aboutSection:nth-of-type(5) > h2 {
    color: var(--greywhite);
}
.aboutSection:nth-of-type(5) > ul {
    color: var(--greywhite);
}
.aboutSection h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.aboutSection p {
    max-width: 1000px;
    font-size: 15px;
}
.aboutSection > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutSection > ul > li{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.aboutSection > ul strong {
    font-weight: 500;
}
.aboutSectionIcons {
    color: var(--darkcyan);
}
@media screen and (max-width: 1200px) {
    .aboutHero {
        gap: 20px;
        padding: 0px;
    }
}
@media screen and (max-width: 1024px) {
    .aboutHero {
        width: 100%;
        max-width: var(--max-width);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .aboutHero h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .aboutHero > div:nth-child(1) {
        max-width: 100%;
    }
    .aboutHero > div:nth-child(2) {
        width: 100%;
        max-width: 100%;
        height: 400px;
    }
    .aboutSection h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 960px) {
    .aboutSection {
        height: fit-content;
    }
}