.logo {
    font-weight: 900;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap:3px;
    color: var(--night);
    cursor: pointer;
}
.logo > span {
    color: var(--orange);
    font-weight: 900;
}