.logo {
    font-weight: 800;
    font-size: 36px;
    display: flex;
    align-items: center;
    gap:3px;
    color: var(--theme-blue);
    cursor: pointer;
}
.logo > span {
    color: var(--theme-blue);
    font-weight: 900;
}