.loginSection {
    padding: 200px 20px 100px 20px;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    color: var(--night);
}
.loginContainer {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.loginTitle {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--darkcyan);
}
.loginText {
    text-align: center;
    margin-bottom: 40px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.loginLabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}
.loginInput {
    padding: 12px;
    border: none;
    outline: none;
    font-size: 14px;
    border: 1px solid var(--darkcyan);
    background: var(--lightcyan);
    border-radius: var(--radius1);
}
.forgotPasswordLink {
    text-decoration: underline;
    font-size: 15px;
    display: block;
}
.signupButton {
    border-radius: var(--radius1);
    padding: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    background: var(--darkcyan);
    color: var(--white);
    cursor: pointer;
}
.signUp {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
}
.signUpLink {
    color: var(--darkcyan);
    text-decoration: underline;
}
.googleLoginButton {
    border-radius: var(--radius1);
    padding: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 15px;
    background: var(--light-theme-blue);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: var(--night);
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.googleLoginIcon {
    font-size: 22px;
}
.optionDeclare {
    text-align: center;
    padding: 20px 0;
}