/* Dashboard Stats */
.dashboard-stat-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 20px;
}
/* Dashboard Stat Detail */
.DashboardStatDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    min-height: 375px;
    border-radius: var(--radius3);
    padding: 20px;
}
.DashboardStatDetail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.DashboardStatDetail-top > h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--theme-blue);
}
.DashboardStatDetail-top > button {
    outline: none;
    border: none;
    padding: none;
    background: none;
    cursor: pointer;
    color: var(--night);
    transition: .2s ease-in-out;
}
.DashboardStatDetail-top > button:hover {
    border-bottom: 1px solid var(--ghostwhite);
}

.DashboardStatDetail-table-header {
    padding: 15px;
    background: var(--lightcyan);
    color: var(--night);
    font-weight: 500;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.DashboardStatDetail-table-header > div {
    width: 20%;
    /* background: red; */
}

.DashboardStatDetail-table-data {
    padding: 15px;
    background: transparent;
    color: var(--night);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.DashboardStatDetail-table-data > div {
    width: 20%;
    /* background: red; */
}

.DashboardStatDetail-table {
    background: var(--ghostwhite);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    padding-bottom: 50px;
    border-radius: var(--radius2);
    overflow: hidden;
    min-height: 350px;
}

@media screen and (max-width: 1200px) {
    .dashboard-stat-container {
        flex-direction: column;
    }   
    .DashboardStatDetail {
        flex-direction: column;
        max-width: 100%;
        padding: 0px;
        margin-bottom: 70px;
    }
    .DashboardStatDetail-table {
        font-size: 15px;
    }
}
@media screen and (max-width: 540px) {
    .DashboardStatDetail-table {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    .DashboardStatDetail-table {
        font-size: 13px;
    }
}
@media screen and (max-width: 444px) {
    .DashboardStatDetail-table {
        font-size: 12px;
    }
}
@media screen and (max-width: 417px) {
    .DashboardStatDetail-table {
        font-size: 11px;
    }
}