.dashboardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 20px;
    border-bottom: 1px solid var(--darkgrey);
  }
  .dashboardTitle {
    color: var(--orange);
    font-weight: 500;
  }
  .tracking {
    color: var(--night);
  }
  .trackingInputs {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    outline: none;
  }
  .trackingInput {
    padding: 10px;
    background: var(--grey);
    border: 1px solid var(--darkgrey);
    border-radius: var(--radius1);
    color: var(--night);
    outline: none;
    width: 500px;
  }
  .trackButton {
    width: fit-content;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid var(--orange);
    border-radius: var(--radius1);
    color: var(--orange);
    transition: .3s ease-in-out;
    cursor: pointer;
  }
  .trackButton:hover {
    background: var(--orange);
    color: var(--grey);
  }
  .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .notificationsButton {
    font-size: 22px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--night);
  }
  .profileButton {
    font-size: 22px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--night);
  }