.dashboardHeaderContainer {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 20px;
}
.dashboardHeaderContainer > div > h2 {
    color: var(--theme-blue);
    color: var(--night);
    margin-bottom: 10px;
}