.dashboardHeader {
    padding: 20px;
    border-bottom: 1px solid var(--darkgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContent {
    display: flex;
    gap: 20px;
}
.orderTrack {
    padding: 10px 15px;
    font-size: 15px;
    color: var(--night);
    border: none;
    background: none;
}
.inTransit {
    padding: 10px 15px;
    font-size: 15px;
    color: var(--night);
    border: none;
    background: var(--grey);
    border-radius: var(--radius1);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.completed {
    padding: 10px 15px;
    font-size: 15px;
    color: var(--grey);
    border: none;
    background: var(--night);
    border-radius: var(--radius1);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.liveTracking {
    padding: 10px 15px;
    font-size: 15px;
    color: var(--grey);
    border: none;
    background: lightseagreen;
    border-radius: var(--radius1);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.liveTracking:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
}
.bookDelivery {
    display: flex;
    gap: 10px;
}
.bookDeliveryButton {
    padding: 10px 15px;
    font-size: 15px;
    color: var(--grey);
    border: none;
    background: var(--orange);
    border-radius: var(--radius1);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.bookDeliveryButton:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
}