  .pricingCarousel {
    padding: 50px 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .pricingContainer {
    border-radius: var(--radius3);
    padding: 40px;
    height: 430px;
  }
  .pricingContainer1 {
    background: rgba(220, 20, 60, 0.2);
  }
  .pricingContainer2 {
    background: rgba(0, 194, 194, 0.2);
  }
  .pricingContainer3 {
    background: rgba(0, 0, 128, .2);
  }
  .pricingContainer4 {
    background: rgb(0, 255, 0, .2);
  }
  .pricingDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .pricingButton {
    padding: 12px;
    background: none;
    border: 2px solid var(--theme-blue);
    color: var(--theme-blue);
    font-size: 15px;
    font-weight: 600;
  }
  .pricingAmount {
    font-size: 100px;
    color: var(--theme-blue);
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 60px;
  }
  .pricingSpan {
    /* Styles for the span within the amount paragraph */
  }
  .pricingText {
    color: var(--theme-blue);
    font-weight: 500;
    font-size: 15px;
  }
  .featureList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 40px;
    color: var(--theme-blue);
    font-weight: 500;
  }
  .featureList > span:nth-child(1) {
    font-weight: 700;
  }
  .startButton {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border: none;
    border-radius: var(--radius2);
    background: var(--theme-blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  .startButton:hover {
    scale: 0.99;
  }
  .startButton:active {
    scale: 0.97;
  }
  @media screen and (max-width: 1370px) {
    .pricingCarousel {
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
    .pricingContainer {
      border-radius: var(--radius3);
      padding: 40px;
      width: 100%;
      height: fit-content;
      min-height: 350px;
    } 
  }

  @media screen and (max-width: 560px) {
    .pricingContainer {
      padding: 30px;
    }
    .featureList {
      gap: 15px;
      padding-right: 0px;
      font-size: 13px;
    }
    .pricingAmount {
      font-size: 70px;
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }