.heroSection {
    margin: auto;
    width: 100%;
    padding: 50px 0px;
}
.heroSectionImage {
    z-index: 20px;
}
.heroSectionImageContainer {
    height: 400px;
    overflow: hidden;
    z-index: 20px;
    padding: 20px;
    background: url(../../../assets/heroImage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroArticle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background:var(--theme-blue);
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 50px;
    padding: 50px;
    margin-top: -150px;
    border-radius: var(--radius2);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
.heroTitle {
    color: var(--white);
}
.heroTitle > span {
    color: var(--greywhite);
    color: grey;
}
.heroText {
    color: var(--darkcyan);
    font-weight: 500;
}
.heroForm {
    background: var(--grey);
    width: fit-content;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: var(--radius1);
    width: 100%;
    max-width: 780px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.heroInput {
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 0px 20px;
    font-size: 15px;
    width: 70%;
}
.heroButton {
    height: 100%;
    background: var(--darkcyan);
    outline: none;
    border: none;
    border-radius: var(--radius1);
    color: var(--white);
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
@media screen and (max-width: 1515px) {
    .heroArticle {
        width: 90%;
    }  
}
@media screen and (max-width: 800px) {
    .heroForm {
        padding: 5px;
    }
    .heroInput {
        padding: 0px 10px;
    }
    .heroButton {
        padding: 0px 15px;
    }
}
@media screen and (max-width: 768px) {
    .heroTitle {
        font-size: 40px;
    }
    .heroButton {
        padding: 0px 10px;
    } 
}
@media screen and (max-width: 615px) {
    .heroSection {
        padding-bottom: 0px;
    }
    .heroArticle {
        width: 100%;
        padding: 50px 20px;
        border-radius: 0px;
        box-shadow: none;
    }
    .heroTitle {
        font-size: 35px;
    }
}
@media screen and (max-width: 480px) {
    .heroTitle {
        font-size: 30px;
    }
    .heroButton {
        padding: 0px 8px;
        /* width: 140px; */
        font-size: 14px;
    } 
    .heroInput {
        font-size: 14px;
    }
    .heroForm {
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
    }
    .heroInput {
        height: 100%;
        background: transparent;
        padding: 12px 10px;
        width: 90%;
    }
    .heroButton {
        height: 100%;
        width: 100%;
        padding: 12px;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
    }
}