.navHeader {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background: var(--white);
    position: fixed;
    top: 0;
    background: var(--ghostwhite);
}
.navHeader > nav {
    width: 100%;
    max-width: var(--max-width);
    padding: 30px var(--container-padding);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    color: var(--night);
    font-weight: 500;
}
.navLink {
    transition: .3s ease-in-out;
}
.navLink:hover {
    color: var(--theme-blue);
}
.loginLink {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navLoginBtn {
    padding: 14px 24px;
    border: none;
    border-radius: var(--radius3);
    transition: .3s ease-in-out;
    color: var(--night);
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navLoginBtn:hover {
    color: var(--white);
    background: var(--theme-blue);
}
.navIcon {
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: var(--night);
}
@media screen and (max-width: 1200px) {
    .navIcon {
        font-size: 25px;
        cursor: pointer;
        display: flex;
        color: var(--theme-blue);
        padding: 6px 9px;
        border: 2px solid var(--theme-blue);
        border-radius: 3px;
        z-index: 500;
    }
    .navLinks {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        max-width: 1200px;
        height: 100vh;
        background: var(--ghostwhite);
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 3px 0px;
        padding: 25px;
        padding-top: 10vh;
    }
    .showNav {
        display: flex;
    }
    .navLoginBtn {
        padding: 15px 40px;
        border: none;
        border-radius: 0px;
        transition: .3s ease-in-out;
        color: var(--white);
        background: var(--theme-blue);
        box-shadow: none;
    }
    .navLoginBtn:hover {
        box-shadow: none;
        background: none;
    }
}
@media screen and (max-width: 481px) {
    .navLoginBtn {
        font-weight: 500;
        box-shadow: none;
    }
}