@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root {
  --max-width: 1470px;
  --container-padding: 20px;
  --orange: #F99417;
  --lightorange: #fff5e9;
  --night: #374151;
  --navy: #363062;
  --lightnavy: #4D4C7D;
  --grey: #F5F5F5;
  --white: #ffffff;
  --radius1: 5px;
}

body {
  background: var(--white);
}

*, body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
} 

/* Outline */
input, a {
  outline: none;
}

/* Font size */
h1 {
  font-size: 55px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

a, p {
  font-size: 15px;
  color: var(--night);
}
@media screen and (max-width: 768px) {}

@media screen and (max-width: 615px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }
}