.servicesSection {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    padding: 100px 20px;
}
.servicesHeader {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.servicesHeader > div:nth-child(1) {
    width: 100%;
    max-width: 700px;
}
.servicesTitle {
    font-weight: 600;
    line-height: 60px;
    font-size: 50px;
    color: var(--night);
    margin-bottom: 20px;
}
.servicesTitleSpan {
    color: var(--theme-blue);
}
.servicesDescription {
    font-size: 16px;
    padding-top: 9px;
    width: 100%;
    max-width: 700px; 
    color: var(--night);
    line-height: 25px;
}
.service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.service > div:nth-child(1) {
    background: var(--theme-blue);
}
.service > div:nth-child(1):hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.service > div:nth-child(2) {
    background: var(--darkcyan);
}

.service > div:nth-child(2):hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.service > div:nth-child(3) {
    background: var(--darkcyan);
}
.service > div:nth-child(3):hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.service > div:nth-child(4) {
    background: var(--theme-blue);
}
.service > div:nth-child(4):hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.serviceItem {
    width: 100%;
    max-width: 700px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--ghostwhite);
    border-radius: 5px;
    overflow: hidden;
}
.serviceItem > img {
    height: 300px;
}
.serviceItem > div {
    padding: 20px;
}
.serviceTitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
.serviceDescription {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--ghostwhite);
}
.serviceIcon {
    font-size: 50px;
    font-weight: 700;
}

@media screen and (max-width: 1224px) {
    .serviceItem > img {
        height: 290px;
    }
    .servicesHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .servicesTitle {
        line-height: 60px;
        font-size: 40px;
    }
}
@media screen and (max-width: 700px) {
    .service {
        display: flex;
        flex-direction: column;
    }
    .serviceItem {
        width: 100%;
        height: fit-content;
        min-height:250px;
    }
    .servicesTitle {
        line-height: 40px;
        font-size: 30px;
    }
}